{% extends 'base.html' %}





{% block meta %}
<style>
    .carousel-item {
        height: 30rem;
        background: #777;
        color:white; 
        position: relative;
        background-position: center;
        background-size: cover;
    }
    .container-headline1, .container-headline2, .container-headline3 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0; 
        padding-bottom: 50px;
        font-size: 25px;
        color: white;
        text-decoration: none;
        margin-left: 100px;
    }
    .card{
    margin-right: 20px;
    margin-top: 30px;
    padding-bottom: 30px;
    width: 20rem;  
    }
    .p-2{
        margin-bottom: 20px;
    }
    .container2{
        margin-bottom: 20px;
        width:100%;
        height:auto;
        padding:1%;
    }

    .newsicon {
    margin-left:2%;
    float:left; 
    height:88px;
    width:81px;	
    object-fit: cover;
    margin-right: 5%;
    } 

    .overlay-image {
        position: absolute;
        bottom: 0; 
        left: 0; 
        right: 0; 
        top: 0;
        background-position: center;
        background-size: cover;
        opacity: 0.3;

    }

    #card-news-body, #newsCardTitle {
        overflow:hidden;
        max-height: 8rem;
        -webkit-box-orient: vertical;
        display: block;
        display: -webkit-box;
        overflow: hidden !important;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
    }

    #newsCardTitle {
        overflow:hidden;
        max-height: 8rem;
        -webkit-box-orient: vertical;
        display: block;
        display: -webkit-box;
        overflow: hidden !important;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
    }
    .card-img-top {
        max-height: 180px;
        object-fit: cover;
    }
    #news-card{
        margin-right: 70px;
    }
    
    

</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function showHeadline() {
            $.get("{% url 'berita:json'%}", function(data){

                for (var i = 0; i < 1; i++) {
                    var news_title = document.getElementById("first-headline"); 
                    var news_body = document.getElementById("newsbody1"); 
                    var news_image = document.getElementById("headline1-bg"); 
                    var id_berita = data[i].pk
                    
                    news_image.style.backgroundImage = "url(" + data[i].fields.news_image + ")";    
                    // console.log(news_image); 

                    news_title.innerHTML = data[i].fields.news_title; 
                    
                    news_title.setAttribute("href", "news_page/".concat(id_berita));

                    news_body.innerHTML = data[i].fields.news_body; 
                     
                    
                    news_title.style.color = "white"; 
                    
                    // $(".container-headline1").append(news_title); 
                    // $(".container-headline1").append(news_body); 
                }

                for (var j = 1; j < 2; j++) {
                    var news_title = document.getElementById("second-headline"); 
                    var news_body = document.getElementById("newsbody2"); 
                    var news_image = document.getElementById("headline2-bg"); 
                    var id_berita = data[i].pk
                    news_title.setAttribute("href", "news_page/".concat(id_berita));

                    news_image.style.backgroundImage = "url(" + data[j].fields.news_image + ")";    
                    console.log(news_image); 

                    news_title.innerHTML = data[j].fields.news_title; 
                    

                    news_body.innerHTML = data[j].fields.news_body; 
                     
                    
                    news_title.style.color = "white"; 
                    

                    // $(".container-headline2").append(news_title); 
                    // $(".container-headline2").append(news_body); 

                }

                for (var k = 2; k < 3; k++) {
                    var news_title = document.getElementById("third-headline"); 
                    var news_body = document.getElementById("newsbody3"); 
                    var news_image = document.getElementById("headline3-bg"); 
                    var id_berita = data[i].pk
                    news_title.setAttribute("href", "news_page/".concat(id_berita));
                    
                    news_image.style.backgroundImage = "url(" + data[k].fields.news_image + ")";    
                    console.log(news_image); 

                    news_title.innerHTML = data[k].fields.news_title; 
                    

                    news_body.innerHTML = data[k].fields.news_body; 
                     
                    
                    news_title.style.color = "white"; 
                }
            })
        }

        $(document).ready(function(){
            showHeadline(); 
        })

        function showNewsCard() {
            $.get("{% url 'berita:json'%}",function(data){
                
                    var newsCard = document.getElementById("card-news"); 
                    newsCard.innerHTML = ""
                    let htmlstring = ``
                    let href = "news_page/"

                    
                    for (var i = 3; i < data.length -5; i++) {
                    var id_berita = data[i].pk
                    
                    htmlstring += 
                    
                    `
                        <div class="card h-100 rounded-0 " id="news-card">
                            <img class="card-img-top rounded-0" src="${data[i].fields.news_image}" alt="news image">
                            <div class="card-body" >
                                <a class="card-title" id="newsCardTitle" href=${href.concat(id_berita)}>${data[i].fields.news_title}</a>
                                <p class="card-text" id="card-news-body">${data[i].fields.news_body}</p>
                            </div>
                        </div>
                    `
                    
                    }

                    newsCard.innerHTML = htmlstring
                    let str = document.getElementById("card-news-body").innerHTML; 
                    let res = str.replace(/\\n/g, '<br> <br>');
                    document.getElementById("card-news-body").innerHTML = res;
            })
        }

        $(document).ready(function(){
            showNewsCard(); 
        })

        function showSideNews(){
            $.get("{% url 'berita:json'%}", function(data){
                var sideNews = document.getElementById("side-news"); 
                sideNews.innerHTML = ""
                let htmlstring = ``
                let href = "news_page/"

                for (var i = data.length - 5; i < data.length; i++) {
                    var id_berita = data[i].pk
                    
                    htmlstring += 
                    
                    `
                        
                        <div class='container2' id="side-news">
                            
                            <div style='margin-left:0px;'>
                                <a  href=${href.concat(id_berita)}>${data[i].fields.news_title}</a>
                                <div style="font-size:.6em">'${data[i].fields.news_published}</div>
                            </div>
                        </div>
                        
                    `
                    
                    }
                    sideNews.innerHTML = htmlstring
            })
        }

        $(document).ready(function(){
            showSideNews(); 
        })


    </script>

{% endblock meta %}

{% block content %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <div style="background: linear-gradient(0deg, rgba(78,108,80,0.5133403703278187) 0%, rgba(78,108,80,1) 75%); padding-bottom: 65px;">

    <div class="container" style="position: relative; padding-top: 50px; ;">
            
        <div id="newsCarousel" class="carousel slide" data-ride="carousel"  style="margin-top: 50px; position: relative;">
            <ol class="carousel-indicators">
                <li data-target="#newsCarousel" data-bs-slide-to="0" class="active"></li>
                <li data-target="#newsCarousel" data-bs-slide-to="1"></li>
                <li data-target="#newsCarousel" data-bs-slide-to="2"></li>
                
            </ol>
             
            <div class="carousel-inner" style="box-shadow: 5px 5px 10px;">
                
                    
                    <div class="carousel-item active" id="headline1"  >
                        <div id="headline1-bg" class="overlay-image" style="background-image: url({{news.news_image}});"></div>
                        <div class="container-headline1" >
                            <a id="first-headline"></a>
                            <span id="newsbody1" class="d-inline-block text-truncate" style="max-width: 1010px; font-size: large;"></span>
                    
                        </div>
                    
                    </div>
                
                 
                
                <div class="carousel-item">
                    <div id="headline2-bg" class="overlay-image" style="background-image: url({{news.news_image}});"></div>
                    <div class="container-headline2">
                        <a id="second-headline"></a>
                        <span id="newsbody2" class="d-inline-block text-truncate" style="max-width: 1010px; font-size: large;"></span>
                    </div>
                </div>
                

                
                <div class="carousel-item">
                    <div id="headline3-bg" class="overlay-image" style="background-image: url({{news.news_image}});"></div>
                    <div class="container-headline3">
                        <a id="third-headline"></a>
                        <span id="newsbody3" class="d-inline-block text-truncate" style="max-width: 1010px; font-size: large;"></span>
                    </div>
                </div>
                  
                <a href="#newsCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
                    <span class="visually-hidden">Previous</span>
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>

                <a href="#newsCarousel" class="carousel-control-next" role="button" data-bs-slide="next">
                    <span class="visually-hidden">Next</span>
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
            
        </div>
    </div>
    <h5 style="text-align: center; margin-top: 30px; font-size: 54px; opacity: 81%;">Berita UMKM</h5>
</div>

<!-- {% for news in berita %}
    <p>{{news.news_title}}</p>
{% endfor %} -->

<div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="p-2" style="margin-top: 50px; width: 800px;"  >
            <h5 style=" margin-bottom: 25px;">Latest News</h5>
            <hr style="opacity: 15%; background-color: black; height: 1px; border: none;">
            <div class="d-flex flex-start justify-content-around" style="margin-bottom: 15px; flex-wrap: wrap;" id ="card-news">
                <div class="p-2" ></div>
            </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="p-2" style="margin-top: 50px;">
            <h5 style=" margin-bottom: 25px;">News Today</h5>
            <hr style="opacity: 15%; background-color: black; height: 1px; border: none;">
            <div class="row row-cols-1" id="side-news">
                <div class='container2' >
                        
                </div>

                <!-- <div class='container2'>
                        <div>
                            <img src='...' class='newsicon'>
                        </div>	
                    <div style='margin-left:60px;'>
                    <h4>Judul Berita</h4>
                    <div style="font-size:.6em">Tanggal berita</div>
                    </div>
                </div>

                <div class='container2'>
                        <div>
                            <img src='...' class='newsicon'>
                        </div>	
                    <div style='margin-left:60px;'>
                    <h4>Judul Berita</h4>
                    <div style="font-size:.6em">Tanggal berita</div>
                    </div>
                </div>

            <div class='container2'>
                        <div>
                            <img src='...' class='newsicon'>
                        </div>	
                    <div style='margin-left:60px;'>
                    <h4>Judul Berita</h4>
                    <div style="font-size:.6em">Tanggal berita</div>
                    </div>
                </div>

            <div class='container2'>
                    <div>
                        <img src='...' class='newsicon'>
                    </div>	
                <div style='margin-left:60px;'>
                <h4>Judul Berita</h4>
                <div style="font-size:.6em">Tanggal berita</div>
                </div>
            </div>

            <div class='container2'>
                        <div>
                            <img src='...' class='newsicon'>
                        </div>	
                    <div style='margin-left:60px;'>
                    <h5>Judul Berita</h5>
                    <div style="font: size 0.1em;">Tanggal berita</div>
                    </div>
                </div> -->
        </div>
        </div>
    </div>
</div>


{% endblock content %}
        
   






