{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Home</title>
{% endblock meta %} {% block content %}
<style></style>

<body>
  <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085"></i>
  <span><img src="logo umkm pbp.png" style="margin: 15px" /></span>
  <br />
  <h3>Contributor:</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nomor</th>
        <th scope="col">Nama</th>
        <th scope="col">NPM</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Ihza Dafa Maulidan</td>
        <td>2106652726</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Ahmadhi Prananta Hastiputra</td>
        <td>2106702895</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Shafa Aleyda Tsabitah</td>
        <td>2106634534</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Rafinal Haryokusumo Taloputra</td>
        <td>2106634540</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Sania Rizqi Maharani</td>
        <td>2006597001</td>
      </tr>
    </tbody>
  </table>
  <p>Deskripsi project:</p>
  <p>
    Kelompok kami akan membuat aplikasi yang berkaitan dengan salah satu topik
    G20 Presidensi Indonesia yakni Digital Transformation dan Trade &
    Investment. Deskripsi topik tersebut yakni untuk pencapaian potensi
    sebenarnya dari digitalisasi ekonomi global yang cepat dan membutuhkan
    lanskap baru kerjasama antar negara serta semua pemangku kepentingan untuk
    mengamankan kesejahteraan bersama di era digital. Memulihkan tatanan ekonomi
    global pasca pandemi menjadi lebih kuat, inklusif dan kolaboratif dengan
    memanfaatkan digitalisasi sangat penting dalam mengatasi berbagai
    permasalahan umat manusia, digitalisasi adalah kuncinya. Pembahasan agenda
    untuk menciptakan transformasi digital yang lebih inklusif kepada dunia
    menunjukkan betapa pentingnya peran forum G20 bagi dunia. Lintas isu digital
    dan ekonomi termasuk akselerasi UMKM ke dalam ekosistem digital, digital
    entrepreneurship, dan revitalisasi peran perempuan di tempat kerja dengan
    meningkatkan kapabilitas digital menjadi beberapa agenda prioritas yang akan
    dibahas. Isu-isu tersebut akan dibahas melalui beberapa forum, yaitu,
    Kelompok Kerja Ekonomi, Pemberdayaan G20, Bisnis 20, dan banyak lagi.
    Aplikasi yang akan kami buat berisi segala hal terkait dengan UMKM di
    Indonesia seperti cara pendaftaran UMKM, fitur usaha untuk para pelaku UMKM,
    cara pendaftaran investasi pada UMKM, daftar lokasi UMKM, cara pendaftaran
    akun konsumen yang ingin bertransaksi dengan pelaku UMKM. Tentunya aplikasi
    ini mempunyai banyak manfaat tidak hanya untuk pelaku dan konsumen UMKM,
    tapi untuk perekonomian rakyat Indonesia. Berdasarkan permasalahan di atas,
    kami hendak membuat sebuah aplikasi perangkat lunak berbasis Web sebagai
    media yang terkait dengan UMKM di Indonesia. Pengembangan aplikasi ini
    bertujuan agar pemanfaatan digitalisasi untuk beberapa sektor UMKM yang
    belum beradaptasi secara digital dapat dioptimalkan serta membantu para
    pelaku UMKM dalam mempromosikan usaha UMKM di masa pasca pandemi. Dengan
    adanya aplikasi ini, harapannya dapat bermanfaat untuk pelaku dan konsumen
    UMKM, bahkan untuk perekonomian rakyat Indonesia.
  </p>
</body>

{% endblock content %}
