{% extends 'base.html' %} 

{% block meta %}
<title>Home</title>
<style>
  .p-2{
    min-height: 50%;
  }
img{
  position: relative;
  max-width: 40%;
  max-height: min-content;
}

</style>
{% endblock meta %} 


{% block content %}
<body style="background-color: grey;">
  
  <div class="container-fluid" style="background-color: white; padding-bottom: 5%; padding-top: 50px;"> 
    <div class="d-flex flex-row align-items-start" style="flex-wrap: wrap; white-space: nowrap;">
      <div class="p-2" style="margin-left:0px; left: 0px;">
      <p></p>
    </div>
      <div class="p-2" style="margin-top: 50px; ">
        <h1 style="text-align: start;">GoUMKM</h1>
        <hr>
        <h5 style="text-align: start;">Boost Your UMKM Through GoUMKM</h5>
        <img src="https://img.freepik.com/free-vector/we-are-open-concept-illustration_114360-9780.jpg?w=826&t=st=1667405961~exp=1667406561~hmac=8e75c9d77f0aab685fd8a10f860e5579170dec54877a09e862542451bcb04535">
      </div>
    </div>  
  </div>

  <p style="margin-left: 20px;"><b><small>Contributors: Ihza Dafa Maulidan, Ahmadhi Prananta Hastiputra, Shafa Aleyda Tsabitah, Rafinal Haryokusumo Taloputra, Sania Rizqi Maharani</small></b></p>
</body>
{% endblock content %}
