{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
   
<link href="{% static 'style1.css' %}" rel="stylesheet">

<body class="text-center">

    <form class="form-signin w-100 m-auto" method="POST" action="">
        {% csrf_token %}
        <h1 class="h3 mb-4 fw-normal">Log in</h1>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">
                        <strong>{{ message|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <div class="form-floating">
            <input type="text" name="username" placeholder="Username" class="form-control">
            <label for="floatingInput">Username</label>
        </div>
        <br>
        <div class="form-floating">
            <input type="password" name="password" placeholder="Password" class="form-control">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="mb-3">
            <label>
                Don't have an account? <a href="{% url 'landing:register' %}">Buat Akun</a>
            </label>
        </div>

        <input class="w-100 btn btn-lg btn-primary" type="submit" value="Login"></td>

    </form>
</body>

{% endblock content %}