{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Register</title>
{% endblock meta %} {% block content %}
<style>
  .bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
  }

  @media (min-width: 500px) {
    .h-custom-2 {
      margin-top: 500px;
      height: 100%;
    }
  }
</style>

<body>
  <section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">
          <div
            class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5"
          >
            <form style="width: 23rem" method="post">
              {% csrf_token %}
              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
                Register
              </h3>
              {{ form.as_p }}
              <div class="pt-1 mb-4">
                <input
                  class="w-100 btn btn-lg btn-primary"
                  type="submit"
                  value="Register"
                />
              </div>

              <p>
                Already have an account?
                <a href="{% url 'landing:login' %}" class="link-info"
                  >Login here</a
                >
              </p>
            </form>
          </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img
            src="https://blue.kumparan.com/image/upload/fl_progressive,fl_lossy,c_fill,q_auto:best,w_640/v1630219755/qi2qfpdn1vivt6txizxs.jpg"
            alt="Register image"
            class="w-100 vh-100"
            style="object-fit: cover; object-position: left"
          />
        </div>
      </div>
    </div>
  </section>
</body>

{% endblock content %}
